form {
  display: flex;
  gap: 0.5rem;
}

form input {
  padding: 0.5rem;
  border-radius: 1em;
  background-color: white;
  color: black;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 0.5rem 0;
}
